<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
    <script src="./Scripts/Controllers/Controller.js"></script>
    <script src="./Scripts/Models/ShopsModel.js"></script>
    <script src="./Scripts/Models/GoodsModel.js"></script>
    <title>Task2 Angular for LightPoint</title>
    <style>
  .ng-hide:not(.ng-hide-animate) {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

  .storeItem-details {
    max-height: 100px;
    transition: .8s;
    overflow: hidden;
}

  .storeItem-details.hidden {
  max-height: 0;
}
  li {    
    list-style: none;
    padding: 10px;
}
  .footer {
      text-align: center;
  }

    </style>
</head>
<body ng-controller="ShopController">
    <fieldset>
        <legend>Adding\Deleting Shops</legend>
        Id: <input id="Shopid" type="text" ng-model="Shop.id" />
        <br />
        Name:<input id="ShopName" type="text" ng-model="Shop.Name" />
        <br />
        Description: <input id="ShopDesc" type="text" ng-model="Shop.Description" />
        <br />
        <button ng-click="AddShop({{ShopName}},{{ShopDesc}})">AddShop</button>

        <button ng-click="deleteShopbyName()">DeleteShopByName</button>
        <button ng-click="reloadPage()">ReloadPageTest</button>
    </fieldset>
    <br />
    <fieldset>
        <legend>Current Shops:</legend>
        <p>{{GetItemsFromShop()}}</p>
        <p>Total number of Shops: {{Shops.length}}</p>

        <ul>
            <li ng-repeat="(StoreIndex, Shop) in Shops | orderBy:Name">
                <span>{{Shop.id}}</span>
                <p>{{Shop.Name}}</p>
                <p>Working Time: {{Shop.WorkStartTime}} - {{Shop.WorkStopTime}}</p>
                <p>Address: {{Shop.Address}}</p>
                <p>Our motto: {{Shop.Description}}</p>
                <p>Show our Store? : <input type="checkbox"  ng-model="checked"></p>

                <a ng-repeat="storeItem in Shops[StoreIndex].Stores" ng-show="checked" href="#" ng-click="showDetails = ! showDetails">
                    {{storeItem.Name }}
                    <p class="storeItem-details" ng-class="{ 'hidden': ! showDetails }">Number of patient discharges:{{storeItem.Description}}</p>
                </a>
</li>
        </ul>
    </fieldset>
    <br />
    <footer class="footer">Create by Glareone 2015</footer>
</body>
</html>